In [26]:
#匯入第一個csv檔案

import pandas as pd

lol = pd.read_csv("lol_example1.csv")
lol

    Clan Division  MSI champion  Worlds champion
0  GEN.G      LCK             0                2
1     T1      LCK             2                3
2    RNG      LPL             3                0
3    FPX      LPL             0                1
4     G2      LEC             1                0

In [27]:
#匯入第二個csv檔案

lol2 = pd.read_csv("lol_example2.csv")
lol2

  Clan Division  MSI champion  Worlds champion
0  EDG      LPL             1                1
1   DK      LCK             0                1
2  FNC      LEC             0                1
3  PSG      PCS             0                0
4   IG      LPL             0                1

In [28]:
#dataframe to set

set_lol = set(lol["Division"])
set_lol2 = set(lol2["Division"])

In [29]:
set_lol

{'LCK', 'LEC', 'LPL'}

In [30]:
set_lol2

{'LCK', 'LEC', 'LPL', 'PCS'}

In [31]:
#交集
#只顯示重複的賽區

set_lol & set_lol2

{'LCK', 'LEC', 'LPL'}

In [32]:
#聯集
#總共有4個賽區

set_lol | set_lol2

{'LCK', 'LEC', 'LPL', 'PCS'}

In [34]:
#差集
#只有資料二有PCS賽區

set_lol2 - set_lol

{'PCS'}

In [35]:
#差集
# 第一筆資料的賽區第二筆資料都有

set_lol - set_lol2

set()

In [37]:
#對稱差集
#聯集 - 交集
#因只有4賽區，故可得知對稱差集只有PCS賽區

set_union = set_lol | set_lol2
set_intersection = set_lol & set_lol2
set_union - set_intersection

{'PCS'}